body{
    background:#7E486A;
    color:white;
}

.content{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 8%;
    width: 1080px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 630px;
    font-family: 'PT Sans', sans-serif;
}

.ava{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    height: 259px;
    width:285px ;
    margin-left: 157px;
}

.battons{
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;

}
.asd{
    background: #6360E2;
}

.dsa{
    background: #842553;
}

.ddd{
    background: #E54269;
}

button{
    width:190px;
    height: 50px;
    margin-right: 23px;
    border-radius: 10px;
    border: none;
    color: white;
}

h1{
    margin:0;
    font-size: 60px;
    max-width: 555px;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: white !important;
    font-family: 'PT Sans', sans-serif;
}



